---
import Body from "../components/Body.astro";
import Breadcrumb from "../components/Breadcrumb.astro";
import Content from "../components/Content.astro";
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import { SITE_AUTHOR } from "../config";

export interface Props {
  content: {
    url: string;
    title: string;
    description: string;
  }
}

const {
  content: {
    url,
    title,
    description
  }
} = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
<Head
  author={SITE_AUTHOR}
  {title}
  {description}
/>
<Body>
  <main role="main">
  <Header />
  <Content className="pt-20">
    <Breadcrumb {url} {title} />

    <h1 class="text-3xl text-center font-bold font-oswald py-10">
      {title}
    </h1>
    <slot />
  </Content>
  <Footer />
  </main>
</Body>
</html>
