---
import Body from "../components/Body.astro";
import Breadcrumb from "../components/Breadcrumb.astro";
import Content from "../components/Content.astro";
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Showcase from "../components/Showcase.astro";
import { SITE_AUTHOR } from "../config";

export interface Props {
  content: {
    name: string;
    title: string;
    description: string;
    heroImage: string;
  }
}

const {
  content: {
    name,
    title,
    description,
    heroImage
  }
} = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
<Head
  author={SITE_AUTHOR}
  {title}
  {description}
/>
<Body>
  <Header />

  <main role="main">
  <Showcase heading={title} src={heroImage} />
  <Content className="pt-10">
    <Breadcrumb {name}>
      {title}
    </Breadcrumb>

    <div
      class="mx-auto max-w-none prose dark:prose-invert prose-a:underline prose-a:underline-offset-2 prose-a:decoration-teal-500 prose-a:hover:text-teal-500 prose-p:text-justify prose-img:border prose-img:border-slate-300 prose-img:dark:border-zinc-700 prose-img:rounded-xl prose-headings:font-oswald"
    >
      <h1 class="text-3xl text-center font-bold font-oswald py-5">
        {title}
      </h1>
      <slot />
    </div>
  </Content>
  </main>

  <Footer />
</Body>
</html>

